@{
    ViewData["Title"] = "No Meeting Times Available";
}

<div class="text-center">
    <h1 class="display-4">There are no meeting times available for you and your participants in the provided time</h1>
    <p>Please try to enter a different date and time</a>.</p>
</div>