@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi there @ViewData["ApiResult"]!</h1>
    <p>To start scheduling a meeting, <a href="/Home/FindMeetingTime">click here</a>.</p>
</div>
